<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node tailwind ejs</title>
    <link rel="stylesheet" href="../assets/styles.css">
</head>

<body>
    <%- include('header')%>
        <section>
            <div class="text-center text-green-400">
                <h2>
                    I hope this tutorial has helped you.
                    <br>
                    With respect.
                </h2>

                <hr>
                <p class="bg-indigo-500 text-white m-5 p-5">
                    Javad Haiderpour.
                    <br>
                    jheidarpour@gmail.com
                </p>
               

            </div>
        </section>
        <%- include('footer')%>
</body>

</html>